<form action="/<%= subject %>/p2" method="GET" class="questions">
	<h1><%= title %></h1>

	<fieldset class="required_question">
		<p>Hoe was de uitleg omtrent het vak ?</p>
		<span class="hidden"
			>*Hey je bent mij vergeten in te vullen, vul alsjeblieft een antwoord in</span
		>

		<div>
			<% for(let i = 1; i < 11; i++ ) {%>
                    <input type="radio" name="teaching" id="teaching_<%= [i] %>" value="<%= [i] %>" 
                    <% if (values.teaching == [i] ) { %> checked <% }%> required >
					<label tabindex="0" for="teaching_<%= [i] %>">
						<%= [i] %>
					</label>
			<% }%>
		</div>
	</fieldset>

	<fieldset class="required_question">
		<p>Welke cijfer geef je het vak ?</p>
		<span class="hidden">*Hey mij ook vergeten, vul alsjeblieft een antwoord in</span>

		<div>
            <% for(let i=1; i < 11; i++ ) {%>
               	<input type="radio" name="grading" id="grading_<%= [i] %>" value="<%= [i] %>" 
                    <% if (values.grading == [i] ) { %> checked <% }%> required>
				<label tabindex="0" for="grading_<%= [i] %>"><%= [i] %></label>
            <% }%>
		</div>
	</fieldset>

	<fieldset class="required_question">
		<p>Hoe lastig is de lesstof ?</p>
		<span class="hidden">*Ik ben de laatste maar ook belangrijk hoor, vul alsjeblieft een antwoord in</span>
            <div>
                <% for(let i=1; i < 11; i++ ) {%>
					<input type="radio" name="difficulty" id="difficulty_<%= [i] %>" value="<%= [i] %>" 
                        <% if (values.difficulty == [i] ) { %> checked <% }%> required>
						<label tabindex="0" for="difficulty_<%= [i] %>"><%= [i] %></label>
                    <% }%>

            </div>
	</fieldset>

	<input type="submit" id="submit_btn" class="btn" value="Volgende" />
</form>
