<form action="/<%= subject %>/p2" method="GET" class="questions">
	<h1><%= title %></h1>

	<fieldset class="required">
		<p>Hoe was de uitleg omtrent het vak ?</p>
		<span class="hidden"
			>*Dit onderdeel is verplicht, vul alsjeblieft een antwoord in</span
		>

		<div>
			<% for(let i = 1; i < 11; i++ ) {%>
                <label tabindex="0"
                    ><input type="radio" name="teaching" value="<%= [i] %>" 
                    <% if (values.teaching == [i] ) { %> checked <% }%> >
                    <%= [i] %>
                </label>
			<% }%>
		</div>
	</fieldset>

	<fieldset class="required">
		<p>Hoe was de uitleg omtrent het vak ?</p>
		<span class="hidden">*Dit onderdeel is verplicht, vul alsjeblieft een antwoord in</span>

		<div>
            <% for(let i=1; i < 11; i++ ) {%>
                <label tabindex="0"><input type="radio" name="grading" required value="<%= [i] %>" 
                    <% if (values.grading == [i] ) { %> checked <% }%> >
                    <%= [i] %>
                </label>
            <% }%>
		</div>
	</fieldset>

	<fieldset class="required">
		<p>Hoe lastig is de lesstof ?</p>
		<span class="hidden">*Dit onderdeel is verplicht, vul alsjeblieft een antwoord in</span>
            <div>
                <% for(let i=1; i < 11; i++ ) {%>
                    <label tabindex="0"><input type="radio" name="difficulty" required value="<%= [i] %>" 
                        <% if (values.difficulty == [i] ) { %> checked <% }%> >
                            <%= [i] %>
                    </label>
                    <% }%>
            </div>
	</fieldset>

	<input type="submit" class="btn" value="Volgende" />
</form>
