
<form action="/<%= subject %>/break" method="GET" class="questions">
    <h1><%= title %></h1>
        
        <fieldset class="required">
            <p>Hoe goed snap je het vak?</p>
            <span class="hidden">*Dit onderdeel is verplicht, vul alsjeblieft een antwoord in</span>

            <div>
                <% for(let i=1; i < 11; i++ ) {%>
                    <label tabindex="0"><input type="radio" name="insight" required value="<%= [i] %>" 
                        <% if (values.insight == [i] ) { %> checked <% }%> >
                        <%= [i] %>
                    </label>
                <% }%>
            </div>
            
        </fieldset>

        <label for="feedback">Wat wil je nog kwijt over dit vak?</label>
        <textarea name="feedback" id="feedback" cols="30" rows="8" placeholder="Wat wil je zeggen?"><%= values.feedback %></textarea>
        
        <fieldset class="options">
            <a href="/<%= subject %>/p1<%= query %>" class="btn back">Back</a>
            <input type="submit" class="btn" value="Volgende">
        </fieldset>
</form>