<%- include('../partials/header'); %>

    <main>
        <section class="heading">
            <h1>Minor: Web Design & Development Enquete</h1>
            <img src="img/logo2.png" alt="HvA logo">
        </section>
        <article>
            <h2>Lekker bezig <span id="user_name"></span>!</h2>
            <p> 
                Je hebt de vragen voor vak <%= currentSubject %> succesvol afgerond Op naar de volgende vak <%= nextSubject %>.
            </p>
           


            <a href="/<%= subject %>" class="btn">Start Enquete voor <%= nextSubject %></a>
        </article>
    </main>

    <%- include('../partials/footer'); %>