<%- include('../partials/header'); %>

<main>
	<article>
		<h2>Lekker bezig!</h2>
		<p>
			Je hebt de vragen voor vak <%= currentSubject %> succesvol afgerond Op
			naar de volgende vak <%= nextSubject %>.
		</p>

		<p>Nog <%= subjectAmount %> vakken te gaan</p>

		<div class="break">
			<a href="/<%= subject %>/p1" class="btn">Start Enquete voor <%= nextSubject %></a>
			<a href="/<%= currentSubjectShort %>/p2<%= query %>" class="btn back">Back</a>
		</div>
	</article>
</main>

<%- include('../partials/footer'); %>
