<%- include('../partials/header'); %>

    <main>

        <div class="form_indicator hidden">
            <span></span>
            <span></span>
            <span></span>
            <span></span>
        </div>

        <% switch (pageType) { 
            case 'p1' : %>
                <%- include('../partials/p1'); %>
                <% break;

            case 'p2' : %>
                <%- include('../partials/p2'); %>
                <% break; 
                    
            default : %>
                <%- include('../404'); %>
        
        <% } %>
        
    </main>
    <%- include('../partials/footer'); %>